/* -----------------------------------Color Palette----------------------------------- */


:root {
    --bg-color-1: #3F3F3D;
    --bg-color-2: #272727;
    --font: #FFFEF2;
    --accent-1: #00FFBF;
    --accent-2: #cb3441;
    --accent-3: #85C7F2;
    --dark:
}




/* -----------------------------------CSS resets----------------------------------- */


* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
/* 1 rem is 16px */
html {
    font-size: 100%;
}


html {
    scroll-behavior: smooth;

}



/* -----------------------------------General CSS----------------------------------- */
body {

    background-color: var(--bg-color-2);
    color: var(--font);
    font-family: monospace;
    font-size: 1.2rem;
    text-align: justify;

}


@media (max-width: 700px) {
    boody {
        font-size: 1.3rem;
    }

}


header {
    padding: 4rem;
    margin-bottom: 3rem;
    background-color: var(--bg-color-2);

    color: var(--font);
    border-bottom: var(--accent-1) 2px solid;
    /* text-align: center; */
}

@media (max-width: 700px) {
    header{
        padding-left: 2rem;
    }
}


header h1 {
    font-size: 3.5rem;
    font-family: "Syne Mono", monospace;

    right: 2rem;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: var(--accent-1);
}


nav {
    position: absolute;
    right: 2rem;
    top: 2rem;

    /* adding "position: fixed" makes the nav header stick when you scroll */
    /* background-color: white;
    border-radius: 2rem; */

}


nav a {
    text-decoration: none;
    color: var(--font);
    display: inline-block;
    margin: 0 1rem;
    transition: background-color .5s ease;
}


nav a:hover {
    background-color: var(--accent-2);
    transform: scale(1.3);

}


@media (max-width: 950px) {
    nav a {
        margin: 0 .5rem
    }
}


main {
    margin: 0;

}

@media (max-width: 950px) {
    main {
        margin: 3rem
    }
}


@media (max-width: 450) {
    main {
        margin: 1.5rem
    }
}


.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 4rem;
}


.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;
}


.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    margin: 2.5rem 0;


}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--bg-color-1);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 0px var(--accent-1);

}

@media (max-width: 600px) {
    .portfolio-item {
        padding: 2rem
    }
}


@media (max-width: 600px) {
    .portfolio-item {
        padding: 4rem
    }
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}


.portfolio-item h3 {
    margin: 1rem;
}

.portfolio-item p {
    font-size: 1.2 rem;
}


.about-section {
    /* background-color: #ffffff, */
}

.portfolio-section {
    background-color: var(--bg-color-2);

}

footer {
    background-color: var(--accent-2);
    /* color: #e3e3e3; */
    padding: 1rem;
    text-align: end;
}

footer p {
    font-size: 1rem;
}



/* STYLE CLASSES */

.accent-1 {
    color: var(--accent-1);
}

.accent-2 {
    color: var(--accent-2);
}

.accent-3 {
    color: var(--accent-3);
}

/* 
.syne-mono-regular {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
} */